#display {
    width: 520px;
    height: 60px;
    font-size: 30px;
    padding: 12px 20px;
    text-align: right;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: red;
    border-style: inset;
    margin: 8px;
}

input[type=button] {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 15px;
}

#btnPlus,#btnMinus,#btnMultiply, #btnDivide {
    background-color: #f1524e;
}

#btnMod, #btnPower,#btnSin,#btnCos,#btnTan,#btnExp,#btnLog,#btnLog10,
#btnSqrt,#btnCbrt,#btnLeftParenthesis,#btnRightParenthesis,#btnPi,#btnE,#btnPlusMinus,#btnClear {
	font-size: 20px;
	background-color: #18bef0;
}

#btnLog10 {
	font-size: 14px;
}
